* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: #1a1a1a;
  color: #808080;
  font-family: system-ui;
}

button,
input {
  border: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}